body
{
    margin: 0;
}

ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

li
{
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 5px;
    text-decoration: none;
  }

#main-elements
{
    height: 500px;
    position: relative;
}

#google-logo
{
    width: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#search-bar
{
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -65%);
}

#bar
{
    width: 400px;
    height: 30px;
}

#buttons
{
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -82%);
}